.teachers-list .teacher-item{
	box-sizing: border-box;
	width: 100%;
	display:flex;
	border-radius: 10em;
	align-items: center;
	justify-content: space-between;
	padding: 0.7em 2em;
	font-weight: 400;
	font-size: 1.2rem;
	border: 2px solid transparent; 
	transition: border-color 0.2s ease-in-out;
}
.teachers-list li{
	list-style-position: inside;
}

.teacher-item.header{
	background-color: var(--color-accent);
	opacity: 0.9;
	margin-block:1em;
}

.teacher-item .name{
	width:50%;
}
.category{
	width: 25%;
}
.teacher-item .class{
	width: 25%;
}

.teacher-item:nth-child(even){
	background-color: rgba(255, 255, 255, 0.02);
}

/* .teacher-item:hover::before{
	content:"";
	position:absolute;	
	width: 13px;
	height: 13px;
	background-color: var(--color-accent);
	transform: translate(-15px, 0px);
	box-shadow: 0 0 10px 3px var(--color-accent);
	border-radius: 50%;
} */

.teacher-item:hover{
	cursor: pointer;
	border: 2px solid rgba(23, 143, 255, 0.404)!important; 
}

.category{
	width: max-content;
	/* margin-right: 13em; */
	padding: 0 1em 0.15em 1em;
	border-radius: 10em;
	font-weight: 200;
	border: 1px solid transparent;
	text-transform: capitalize;
}

.teacher-item .name{
	text-transform: capitalize;
	font-weight: 200;
}
.teacher-item .class{
	text-transform: uppercase;
}

.teacher-item div{
	text-align: center;
}
.teacher-item .name{
	text-align: left;
}

.teacher-item.header div{
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.3rem;
}

.category.junior{
	color: orangered;
	border-color:orangered;
}
.category.senior{
	color: yellow;
	border-color:yellow;
}
.category.pgt{
	color: blueviolet;
	border-color: blueviolet;
}



.button{
	font-size: 1.2rem;
	padding: 0.3em 1em;
	border-radius: 10em;
	border:none;
	transition: opacity 0.1s;
}
.button:hover{
	cursor: pointer;
	opacity: 0.8;
}
.btn-em{
	background-color: var(--color-accent);
}
.btn-del{
	background-color: red;
}

.header-info{
	text-align: right;
	opacity: .5;
	font-weight: 200;
	font-size: 1.2rem;	
	padding-right: 2em;
}