

.all-teachers header{
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1em;
	margin-block: 2.5em;	
}	

.all-teachers header input{
	border: none;
	font-size: 1.3rem;
	padding: 0.3em 1.5em;
	border-radius: 10em;
	background-color: rgba(255, 255, 255, 0.05);
	font-weight: 300;
	width: 20rem;
}

input:hover, input:focus{
	outline:none
}