:root{
	--color-bg:rgb(5, 15, 32);
	--color-bg-light: rgb(27, 40, 59);
	--color-bg-light-dark: rgb(16, 26, 41);
	--color-accent: rgb(0, 153, 255);
}
*{
	font-family:'IBM Plex Sans', 'Segoe UI';
}
body{
	background-color: var(--color-bg);
}


#root{
	max-width: 1300px;
	margin: auto;
}

a{
	text-decoration: none;
	color: inherit;
}
