@media screen and (max-width: 1300px) {
	:root {
		font-size: 12px;
	}
}

@media screen and (max-width: 800px){
	:root{
		font-size: 10px;
	}
}
@media screen and (max-width:600px){
	:root{
		font-size: 8px;
	}
}